<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title">Confirm Global Settings Change</h2>
        <div>You are about to change a global setting. It will affect everyone who uses this app.</div>
        <div>Make sure you know what you are doing, and have permission.</div>
    </md-dialog-content>
    <md-dialog-actions layout="column" layout-align="end end">
        <md-checkbox style="margin-top: 4px; margin-bottom: 0;" ng-model="ctrl.stopAsking">
            Don't ask again
        </md-checkbox>
        <div layout="row">
            <md-button ng-click="ctrl.cancel()">
                Never Mind
            </md-button>
            <md-button class="md-primary" ng-click="ctrl.confirm()">
                Save
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>