<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title">Session Ended</h2>
        <div>It looks like your SSO session has ended.</div>
        <div>Reload the app to login again.</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="ctrl.close()">
            Ignore
        </md-button>
        <md-button class="md-primary" ng-click="ctrl.reload()">
            Reload
        </md-button>
    </md-dialog-actions>
</md-dialog>