#IntelliJ IDEA platform
.idea/
#Python module cache
*.pyc
#Python setuputils
/build
/dist
/ranalyze.egg-info
#Old virtual environment
venv/
#Jekyll site folders
_*/
#SQLite databases
#*.db # for demo purposes including one