<md-content class="md-padding center">
    <div flex="60">
        <h2 class="md-display-1">
            Authors
        </h2>
        <p class="about">
            <strong xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Reddit Analyzer</strong>
            (ranalyze) was created by four UNC Computer Science undergraduates:
            <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Daniel Chiquito, Rourke Creighton, Bryan Iddings, and Lukas O'Daniel</span>,
            under the supervision of
            <a href="http://cs.unc.edu/people/diane-pozefsky/" target="_blank">Dr. Diane Pozefsky</a>
            This tool was originally created for the
            <a href="http://internettobaccovendorsstudy.com/" target="_blank">ITV Study</a> by the
            <a href="https://unclineberger.org/" target="_blank">Lineberger Cancer Center</a> at UNC Chapel Hill.
        </p>
        <md-divider></md-divider>
        <h2 class="md-display-1">
            License
            <md-button target="_blank" class="md-raised" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                CC BY-SA 4.0 License
            </md-button>
        </h2>
    </div>
</md-content>