<md-content class="md-padding" ng-controller="frequencyController as ctrl" layout="column">
    <md-tabs md-dynamic-height md-center-tabs md-border-bottom><!--md-center-tabs-->
        <md-tab>
            <md-tab-label>
                <i class="material-icons label-icon">cloud</i>
                cloud
            </md-tab-label>
            <md-tab-body>
                <jqcloud ng-if="firstActive && (ctrl.cloud.words.length > 0)" words="ctrl.cloud.words" height="500" auto-resize="true"></jqcloud>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <i class="material-icons label-icon">list</i>
                table
            </md-tab-label>
            <md-tab-body>
                <md-table-pagination md-page="ctrl.frequency.table.page" md-total="{{ctrl.frequency.words.length}}" md-limit="ctrl.frequency.table.limit" md-limit-options="ctrl.frequency.table.limitOptions" md-page-select></md-table-pagination>
                <md-table-container>
                    <table md-table >
                        <thead md-head md-order="ctrl.frequency.table.order">
                            <tr md-row>
                                <th md-column md-order-by="text"><span>Word</span></th>
                                <th md-column md-order-by="entries"><span>Entries</span></th>
                                <th md-column md-order-by="total"><span>Occurrences</span></th>
                                <th md-column md-order-by="weight"><span>Weight</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row
                                ng-repeat="word in ctrl.frequency.words | orderBy: ctrl.frequency.table.order | limitTo: ctrl.frequency.table.limit : (ctrl.frequency.table.page -1) * ctrl.frequency.table.limit">
                                <td md-cell ng-click="ctrl.search(word.text)">{{word.text}}</td>
                                <td md-cell>{{word.entries}}</td>
                                <td md-cell>{{word.total}}</td>
                                <td md-cell>{{word.weight}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-page="ctrl.frequency.table.page" md-total="{{ctrl.frequency.words.length}}" md-limit="ctrl.frequency.table.limit" md-limit-options="ctrl.frequency.table.limitOptions" md-page-select></md-table-pagination>
            </md-tab-body>
        </md-tab>
    </md-tabs>
    <div layout="row" layout-align="center" class="md-padding">
        <div layout="column" layout-align="start center">
            <span>Entry Weight</span>
            <md-slider-container>
				<md-tooltip md-direction="right">Total number of posts the word occurs in</md-tooltip>
                <md-slider ng-change="ctrl.frequency.updateWeights()" flex min="0" max="10" ng-model="ctrl.frequency.params.entryWeight" aria-label="Entry Weight" id="entry-slider">
                </md-slider>
                <md-input-container>
                    <input flex ng-change="ctrl.frequency.updateWeights()" type="number" ng-model="ctrl.frequency.params.entryWeight" aria-label="Entry Weight" aria-controls="Entry-slider">
                </md-input-container>
            </md-slider-container>
        </div>
        <div class="md-padding"></div>
        <div layout="column">
            <span>Total Occurrence Weight</span>
            <md-slider-container>
			<md-tooltip md-direction="right">Total number of times the word occurs</md-tooltip>
                <md-slider ng-change="ctrl.frequency.updateWeights()" flex min="0" max="10" ng-model="ctrl.frequency.params.totalWeight" aria-label="Total Occurrence Weight" id="total-slider">
				</md-slider>
                <md-input-container>
                    <input flex ng-change="ctrl.frequency.updateWeights()" type="number" ng-model="ctrl.frequency.params.totalWeight" aria-label="Total Occurrence Weight" aria-controls="total-slider">
                </md-input-container>
            </md-slider-container>
        </div>
        <!--<md-input-container>
            <label>Date</label>
            <md-datepicker name="cloudDate" ng-change="ctrl.frequency.updateWords()" ng-model="ctrl.frequency.params.date" aria-label="Date" id="cloud-date"></md-datepicker>
        </md-input-container>-->
        <md-input-container>
            <label>After</label>
            <md-datepicker name="cloudDate" ng-change="ctrl.frequency.updateWords()" ng-model="ctrl.frequency.params.date_after" aria-label="Date" id="cloud-date"></md-datepicker>
        </md-input-container>
        <md-input-container>
            <label>Before</label>
            <md-datepicker name="cloudDate" ng-change="ctrl.frequency.updateWords()" ng-model="ctrl.frequency.params.date_before" aria-label="Date" id="cloud-date"></md-datepicker>
        </md-input-container>
    </div>
</md-content>