header {
    text-align: center;
    position: relative;
}

span.highlight {
    display: inline-block;
    background-color: yellow;
    vertical-align: top !important;
}

.clickable {
    cursor: pointer;
}

.down-1 {
    margin-top: 1px;
}

.md-errors-spacer {
    display: none;
}

i.label-icon.material-icons {
    font-size: inherit;
    position: relative;
    top: 2px;
}

.center, .center > * {
    margin-left: auto;
    margin-right: auto;
}

#scraping-progress {
    position: absolute;
    font-size: 32px;
    top: 13px;
    left: calc(50% + 116px);
    color: #438327;
    padding-left: 0;
    padding-right: 0;
}

.success-icon {
    color: darkgreen;
}

.small-list-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

.small-list {
    column-count: 6;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning-icon {

    transform-origin: 50% 50%;
    animation: rotate 1s linear infinite;

}