
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Itvs by comp523</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    </head>
    <body>
        <section class="page-header">
            <h1 class="project-name">{{ site.title }}</h1>
            <h2 class="project-tagline">Internet Tobacco Vendor Study</h2>
            <a href="https://github.com/comp523/ITVS" class="btn">View on GitHub</a>
            <a href="https://github.com/comp523/ITVS/zipball/master" class="btn">Download .zip</a>
            <a href="https://github.com/comp523/ITVS/tarball/master" class="btn">Download .tar.gz</a>
        </section>

        <section class="main-content">

            {{ content }}

            <footer class="site-footer">
                <span class="site-footer-owner"><a href="https://github.com/comp523/ITVS">Itvs</a> is maintained by <a href="https://github.com/comp523">comp523</a>.</span>
            </footer>
        </section>

  </body>
</html>
