<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title | default: site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/demo.css">
        <script src="//cdn.rawgit.com/julienw/dollardom/master/dollardom.min.js"></script>
        <script>
            $dom.onready(function(){
            "use strict";

                var addListeners = function(demo) {

                    var tabHeaders = $dom.descendants(demo, ".tab-headers a"),
                        tabs = $dom.descendants(demo, ".tabs pre");

                    for (var i = 0, j = tabHeaders.length; i < j; i++) {

                        tabHeaders[i].addEventListener("click", function(event){

                            for (var k = 0, l = tabHeaders.length; k < l; k++) {

                                if (tabHeaders[k] === event.target) {
                                    $dom.addClass(tabHeaders[k], "active");
                                    $dom.addClass(tabs[k], "active");
                                }
                                else {
                                    $dom.removeClass(tabHeaders[k], "active");
                                    $dom.removeClass(tabs[k], "active");
                                }

                            }

                        });

                    }

                };

                var demos = $dom.get(".demo");

                for (var i = 0, j = demos.length; i < j; i++){
                    addListeners(demos[i]);
                }

            });
        </script>
    </head>
    <body id="top">
        {% if page.show_header == true %}
        <section class="page-header">
            <h1 class="project-name">{{ site.title }}</h1>
            <h2 class="project-tagline">Internet Tobacco Vendor Study</h2>
        </section>
        {% endif %}

        <section class="main-content">

            {{ content }}

            <footer class="site-footer">
                <span class="site-footer-owner"><a href="{{ site.git.project_url }}">{{ site.title }}</a> is maintained by <a href="{{ site.git.organization.url }}">{{ site.git.organization.name }}</a>.</span>
            </footer>
        </section>

        {% if page.show_back_to_top == true %}
        <div id="back-to-top">
            <a href="#top">[^ Back to top]</a>
        </div>
        {% endif %}

  </body>
</html>
