<md-content class="md-padding" ng-controller="settingsController as ctrl">
    <md-tabs md-dynamic-height md-center-tabs md-border-bottom>
        <md-tab label="subreddits">
            <div layout="row" class="md-padding">
                <md-button class="md-raised md-primary md-icon-button" ng-click="ctrl.subreddits.add()">
				    <md-tooltip md-direction="down">Scrape a new Subreddit</md-tooltip>
                    <i class="material-icons">add</i>
                </md-button>
                <md-button class="md-raised md-warn md-icon-button" ng-click="ctrl.subreddits.deleteSelected()"
                           ng-disabled="ctrl.subreddits.selected.length == 0">
						   <md-tooltip md-direction="down">Stop scraping selected Subreddits</md-tooltip>
                    <i class="material-icons">delete</i>
                </md-button>
                <md-button ng-disabled="ctrl.subreddits.isRefreshing()" class="md-raised md-icon-button" ng-click="ctrl.subreddits.refresh()">
                    <md-tooltip md-direction="down">Refresh stats</md-tooltip>
                    <i class="material-icons">sync</i>
                </md-button>
            </div>
            <md-table-container>
                <table md-table md-row-select multiple ng-model="ctrl.subreddits.selected">
                    <thead md-head md-order="ctrl.subreddits.table.order">
                        <tr md-row>
                            <th md-column>
                                <md-input-container>
                                    <md-tooltip md-direction="down">
                                        Search by Subreddit name
                                    </md-tooltip>
                                    <label>
                                        <i class="material-icons label">search</i>
                                        Subreddit
                                    </label>
                                    <input type="text" ng-model="subredditSearch">
                                </md-input-container>
                            </th>
                            <th md-column md-order-by="added"><span>Added</span></th>
                            <th md-column md-order-by="last_scraped"><span>Last Scraped</span></th>
                            <th md-column md-order-by="oldest_entry"><span>Oldest Entry</span></th>
                            <th md-column md-order-by="posts"><span>Posts</span></th>
                            <th md-column md-order-by="comments"><span>Comments</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="sub.name" md-select-id="value" md-auto-select
                            ng-repeat="sub in ctrl.subreddits.getAll() | filter:subredditSearch | orderBy: ctrl.subreddits.table.order | limitTo: ctrl.subreddits.table.limit : (ctrl.subreddits.table.page -1) * ctrl.subreddits.table.limit">
                            <td md-cell>
                                <i class="material-icons spinning" ng-show="sub.scraping">refresh</i>
                                {{sub.name}}
                            </td>
                            <td md-cell>{{ sub.added*1000 | date:'short' }}</td>
                            <td md-cell>
                                <span ng-show="sub.last_scraped">{{ sub.last_scraped*1000 | date:'short'}}</span>
                                <span ng-hide="sub.last_scraped">-</span>
                            </td>
                            <td md-cell>
                                <span ng-show="sub.oldest_entry">{{ sub.oldest_entry*1000 | date:'short'}}</span>
                                <span ng-hide="sub.oldest_entry">-</span>
                            </td>
                            <td md-cell>{{sub.posts || "-"}}</td>
                            <td md-cell>{{sub.comments || "-"}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-page="ctrl.subreddits.table.page" md-total="{{ctrl.subreddits.getAll().length}}" md-limit="ctrl.subreddits.table.limit" md-limit-options="ctrl.subreddits.table.limitOptions" md-page-select></md-table-pagination>
        </md-tab>
        <md-tab label="word frequency">
            <md-content class="md-padding center">
                <div flex="75">
                    <h2 class="md-headline">
                        Word Cloud Parameters
                    </h2>
                    <md-divider></md-divider>
                    <div layout="row" layout-align="space-around center">
                        <span flex="25">Entry Weight</span>
                        <md-slider-container flex="66">
							<md-tooltip md-direction="down">Weight for unique posts/comments</md-tooltip>
                            <md-slider flex min="0" max="10" ng-model="ctrl.cloud.entryWeight.value" aria-label="Entry Weight" id="entry-config-slider">
                            </md-slider>
                        </md-slider-container>
                        <span flex class="md-padding" ng-bind="ctrl.cloud.entryWeight.value"></span>
                    </div>
                    <div layout="row" layout-align="space-around center">
                        <span flex="25">Total Occurrence Weight</span>
                        <md-slider-container flex="66">
							<md-tooltip md-direction="down">Weight for total occurrences</md-tooltip>
                            <md-slider flex min="0" max="10" ng-model="ctrl.cloud.totalWeight.value" aria-label="Total Occurrence Weight" id="total-config-slider">
                            </md-slider>
                        </md-slider-container>
                        <span flex class="md-padding" ng-bind="ctrl.cloud.totalWeight.value"></span>
                    </div>
                    <div layout="row" layout-align="end center">
                        <div ng-messages="ctrl.cloud.saving">
                            <i ng-message="succeeded" class="material-icons success">check</i>
                            <i ng-message="failed" class="material-icons failure">error_outline</i>
                        </div>
                        <md-button ng-click="ctrl.cloud.save()" ng-disabled="ctrl.cloud.saving.inProgress" class="md-primary md-raised">
                            Save
                        </md-button>
                    </div>
                    <h2 class="md-headline">
                        Word Cloud Blacklist
                    </h2>
                    <div class="md-subhead">
                        These words are filtered out when viewing the world cloud.
                        Words in this list are not excluded when calculating frequencies.
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" class="md-padding">
                        <md-button class="md-raised md-primary md-icon-button" ng-click="ctrl.blacklist.add()">
                            <md-tooltip md-direction="down">Add word</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                        <md-button class="md-raised md-warn md-icon-button" ng-click="ctrl.blacklist.deleteSelected()"
                                   ng-disabled="ctrl.blacklist.selected.length == 0">
                            <md-tooltip md-direction="down">Delete selected words</md-tooltip>
                            <i class="material-icons">delete</i>
                        </md-button>
                    </div>
                    <md-input-container>
                        <md-tooltip md-direction="down">
                            Search
                        </md-tooltip>
                        <label>
                            <i class="material-icons label">search</i>
                            Blacklisted Words
                        </label>
                        <input type="text" ng-model="blacklistSearch.value">
                    </md-input-container>
                    <div layout="row">
                        <md-table-container flex ng-repeat="column in ctrl.range(ctrl.blacklist.table.columnCount)">
                            <table md-table md-row-select multiple ng-model="ctrl.blacklist.selected">
                                <tbody md-body>
                                    <tr md-row md-select="word" md-select-id="value" md-auto-select
                                        ng-repeat="word in ctrl.blacklist.all | filter: blacklistSearch | orderBy: 'value' | limitTo: ctrl.blacklist.table.limit/ctrl.blacklist.table.columnCount : column*ctrl.blacklist.table.limit/ctrl.blacklist.table.columnCount+(ctrl.blacklist.table.page-1)*ctrl.blacklist.table.limit">
                                        <td md-cell>{{word.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </div>
                    <md-table-pagination md-label="{rowsPerPage: 'Words per page:'}" md-page="ctrl.blacklist.table.page" md-total="{{ctrl.blacklist.all.length}}" md-limit="ctrl.blacklist.table.limit" md-limit-options="ctrl.blacklist.table.limitOptions" md-page-select></md-table-pagination>
                    <h2 class="md-headline">
                        Default Blacklist
                    </h2>
                    <div class="md-subhead">
                        These words are excluded when calculating word frequency,
                        they are common words that will never need to be analyzed.<br>
                        This list is predefined and read-only.
                    </div>
                    <md-divider></md-divider>
                    <md-input-container>
                        <label>
                            <i class="material-icons label">search</i>
                            Search
                        </label>
                        <input type="text" ng-model="serverListSearch">
                    </md-input-container>
                    <div class="small-list-wrapper">
                        <div class="small-list">
                            <div ng-repeat="item in ctrl.blacklist.serverList | filter: serverListSearch | orderBy: item">
                                {{ item }}
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="import">
            <md-content class="md-padding" layout="row" layout-align="center start">
                <form name="inputForm" ng-submit="ctrl.import.submit()" layout="column" layout-align="start center" flex="95" flex-gt-sm="60" flex-gt-md="40">
                    <input ng-required="true" type="file" id="file" name="file" accept=".csv" class="ng-hide"
                    ng-file-model="ctrl.import.file">
                    <p>
                        Use this form to upload a CSV (comma separated values) file containing
                        Reddit post permalinks. Each post and its respective comments will be
                        imported to the database.
                    </p>
                    <div>
                        <span ng-show="ctrl.import.file.value">Selected File: <i ng-bind="ctrl.import.file.value | fileName"></i></span>
                        <span ng-hide="ctrl.import.file.value">No file selected</span>
                    </div>
                    <div layout="row">
                        <md-button ng-for="file" class="md-raised">
                            Choose CSV File
                        </md-button>
                        <md-button type="submit" class="md-raised md-primary" ng-disabled="!ctrl.import.file.value">
                            <i class="material-icons label">file_upload</i>
                            Upload
                        </md-button>
                    </div>
                    <strong ng-bind="ctrl.import.response.status"></strong>
                </form>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>